
.download__container{
    max-width: 911px;
}
.cards__download{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.download__card{
    padding-top: 50px;
    padding-bottom: 25px;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
    border-radius: 15px;
    margin-bottom: 32px;
    align-self: flex-start;
}
.download__card--wrapper{
    color: $text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    
    &::before{
        content: "";
        background: url(/images/download/chrome.png) no-repeat;
        width: 102px;
        height: 100px;
        margin-bottom: 32px;
    }
    
    &::after{
        content: "";
        background: url(/images/download/shape.svg) no-repeat;
        width: 280px;
        height: 4px;
        margin-top: 32px;
    }
}
.download__card--para{
    font-size: 15px;
    opacity: 0.5;
    margin: 0;
}

.firefox-card{
    margin-top: 50px;
    padding-top: 50px;
    
    .firefox__card--wrapper::before{
        background: url(/images/download/dragon.png) no-repeat;
        width: 105px;
    }
}
.opera-card{
    margin-top: 80px;

    .opera__card--wrapper::before{
        background: url(/images/download/opera.svg) no-repeat;
    }
}
.download__card--btn{
    padding: 10px 35px;
    background-color: $blue-color;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    border: 2px solid transparent;
    
    &:hover{
        color: $blue-color;
        background-color: #fff;
        border: 2px solid $blue-color;
    }
}


@include breakpoint-down(600px){
    .download__card{
        margin: 0 auto;
    }
    .download__card:not(:last-child){
        margin-bottom: 40px;
    }
}
@include breakpoint-between(601px, 855px){
    .firefox-card{
        margin-top: 0;
    }
}