.dowload__header{
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.download__title{
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    color: $text-color;
}
.download__info{
    opacity: 0.5;
}