.features{
    padding-top: 50px;
    padding-bottom: 50px;
    background: url(/images/features/features_bg.svg) no-repeat;
    background-position: left bottom;
}
.features__header{
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.features__title{
    margin-bottom: 16px;
}
.features__info{
    margin: 0;
}