.section__header{
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.section__title{
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    color: $text-color;
}
.section__info{
    text-align: center;
    font-weight: normal;
    opacity: 0.5;
}


@include breakpoint-down(576px){
    .section__header{
        max-width: 311px;
    }
    .section__title{
        font-size: 24px;
    }
    .section__info{
        font-size: 15px;
        line-height: 25px;
    }
}